doctype html
html(lang="es")
head
    meta(charset="UTF-8")
    title Type in real time
    script(src="https://code.jquery.com/jquery-1.12.3.js"
    integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
    crossorigin="anonymous")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/assets/js/shower.js?2")
body
    #reciver
    #status
